@model NextToArriveFormResponse

<div class="carousel-div">
    <h1>Next To Arrive</h1>

    <form method="post" asp-controller="NextToArrive" asp-action="ReturnSchedule">
        <fieldset class="form-group">
            <label for="Station1">Select Station #1 </label>
            <div class="form-group">
                <select class="form-select" name="Station1">
                    <option value="@ViewBag.thirtieth">30th Street Station</option>
                    <option value="@ViewBag.allenLane">Allen Lane</option>
                    <option value="@ViewBag.carpenter">Carpenter Station</option>
                    <option value="@ViewBag.chelten">Chelten Station</option>
                    <option value="@ViewBag.marketEast">Jefferson Station</option>
                    <option value="@ViewBag.queenLane">Queen Lane</option>
                    <option value="@ViewBag.suburban">Suburban</option>
                </select>
            </div>
        </fieldset>
        <br />
        <fieldset class="form-group">
            <label for="Station2">Select Station #2</label>
            <div class="form-group">
                <select class="form-select" name="Station2">
                    <option value="@ViewBag.thirtieth">30th Street Station</option>
                    <option value="@ViewBag.allenLane">Allen Lane</option>
                    <option value="@ViewBag.carpenter">Carpenter Station</option>
                    <option value="@ViewBag.chelten">Chelten Station</option>
                    <option value="@ViewBag.marketEast">Jefferson Station</option>
                    <option value="@ViewBag.queenLane">Queen Lane</option>
                    <option value="@ViewBag.suburban">Suburban</option>
                </select>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "NextToArrive")'">Refresh</button>
    </form>
</div>
<div class="carousel-div">

    @if (ViewBag.schedule == null)
    {
        <p>No schedule available.</p>
    }


    @if (ViewBag.schedule != null)
    {
        <p>Schedule as of: @ViewBag.dateTime</p>

    
            <h4><font color="#1a03c5">@ViewBag.station1 </font> next to arrive at <font color="#1a03c5">@ViewBag.station2</font></h4>
            <br />

            <ul>
                <li><h5><b>Origin Train:</b> @ViewBag.schedule.OrigTrain</h5></li>
                <li><h5><b>Origin Line:</b> @ViewBag.schedule.OrigLine</h5></li>
                <li><h5><b>Origin Departure Time:</b> @ViewBag.schedule.OrigDepartureTime</h5></li>
                <li><h5><b>Origin Arrival:</b> @ViewBag.schedule.OrigArrivalTime</h5></li>
                <li><h5><b>Origin Delay:</b> @ViewBag.schedule.OrigDelay</h5></li>
            </ul>
       
        <br />

        @if (ViewBag.schedule2 != null)
        {

            <h6>There is another train scheduled to depart <font color="#1a03c5">@ViewBag.station1</font> at <u>@ViewBag.schedule2.OrigDepartureTime</u> and arrive at <font color="#1a03c5">@ViewBag.station2</font> at <u>@ViewBag.schedule2.OrigArrivalTime.</u></h6>
        }

    }



</div>
    